page-orderList {
    ion-content {
        .scroll-content {
            .orderList {
                .order {
                    padding: 1.5rem 2rem;
                    &:nth-of-type(even) {
                        background: map-get($colors, LGray);
                        .orderId {
                            border-bottom: 3px solid map-get($colors, White);
                        }
                    }
                    .orderId {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 3px solid map-get($colors, LGray);
                        padding-bottom: 1rem;
                        p {
                            @extend .fontsize2;
                            color: map-get($colors, Black);
                            margin: 0;
                            &:nth-of-type(1) {
                                width: 70%;
                                font-weight: bold;
                                span {
                                    width: calc(100% - 5rem);
                                    display: inline-block;
                                    vertical-align: middle;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            &:nth-of-type(2) {
                                @extend .fontsize-2;
                                text-align: center;
                                color: map-get($colors, White);
                                border-radius: 20px;
                                padding: 0.2rem 0.5rem;
                                &.notSent { background: map-get($colors, DGray); }
                                &.isEdited { background: map-get($colors, DBlue); }
                                &.isSold { background: map-get($colors, Orange); }
                                &.isCompleted { background: map-get($colors, Gray); }
                            }
                        }
                    }
                    .data {
                        padding: 0.5rem 0 1rem;
                        div {
                            width: 100%;
                            p {
                                @extend .fontsize0;
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0;
                                &:nth-of-type(1) {
                                    width: 6rem;
                                    font-weight: bold;
                                    color: map-get($colors, Black);
                                }
                                &:nth-of-type(2) {
                                    width: calc(100% - 6rem - 8px);
                                    color: map-get($colors, Black);
                                }
                            }
                        }
                    }
                    .button {
                        width: 100%;
                        display: inline-flex;
                        justify-content: center;
                        > button {
                            @extend .fontsize0;
                            flex-basis: 50%;
                            color: map-get($colors, White);
                            background: map-get($colors, Blue);
                            padding: 1rem;
                            &:nth-of-type(2) { background: map-get($colors, DGray); }
                        }
                    }
                }
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content {
            .scroll-content {
                .orderList {
                    .order {
                        &:nth-last-of-type(1) {
                            padding: 1.5rem 2rem 2rem;
                        }
                    }
                }
            }
        }
    }
}
