<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      歷史訂單
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="orderList">
    <div class="order" *ngFor="let order of orderList">
      <div class="orderId" (click)="openOrderDetailModal(order)">
        <p>訂單編號 <span>{{order.CODE}}</span></p>
        <!--<p *ngIf="order.STATUS == 0" class="isDeleted">{{orderStatusType[order.STATUS]}}</p>-->
        <p *ngIf="order.STATUS == 1" class="notSent">{{orderStatusType[order.STATUS]}}</p>
        <p *ngIf="order.STATUS == 2" class="isEdited">{{orderStatusType[order.STATUS]}}</p>
        <p *ngIf="order.STATUS == 3" class="isCompleted">{{orderStatusType[order.STATUS]}}</p>
        <p *ngIf="order.STATUS == 4" class="isSold">{{orderStatusType[order.STATUS]}}</p>
      </div>
      <div class="data" (click)="openOrderDetailModal(order)">
        <div>
          <p>下單日期</p>
          <p>{{order.CREATE_TIME | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
        <!--<div>
          <p>送貨日期</p>
          <p>{{order.SHIPMENTTIME | momentPipe: 'YYYY/MM/DD'}}</p>
        </div>-->
      </div>
      <!--<div class="button">
        <button>修改訂單</button>
        <button>刪除訂單</button>
      </div>-->
    </div>
  </div>
</ion-content>
