<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      歷史訂單資訊
    </ion-title>
    <!--<ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
    <h2>Information</h2>
    <p>訂單明細</p>
  </div>
  <div class="information number">
    <p class="informationTitle note">訂單編號<span>{{order.CODE}}</span></p>
    <div class="itemList">
      <div class="item">
        <div>
          <p>下單日期</p>
          <p>{{order.CREATE_TIME | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
        <!--<div>
          <p>送貨日期</p>
          <p>{{order.SHIPMENTTIME | momentPipe: 'YYYY/MM/DD'}}</p>
        </div>-->
        <div>
          <p>訂單狀態</p>
          <p>{{orderStatusType[order.STATUS]}}</p>
        </div>
        <!--<div>
          <p>出貨狀態</p>
          <p>{{order.deliveryType}}</p>
        </div>-->
      </div>
    </div>
  </div>
  <div class="information addressee">
    <p class="informationTitle">收件人資訊</p>
    <div class="itemList">
      <div class="item">
        <div>
          <p>寄送方式</p>
          <p *ngIf="!order.ADDRESS">直送店址</p>
          <p *ngIf="order.ADDRESS">指定送貨</p>
        </div>
        <div>
          <p>地址</p>
          <p>{{order.CITY}}{{order.ADDRESS}}</p>
        </div>
        <div>
          <p>收件人</p>
          <p>{{order.RECEIVER}}</p>
        </div>
        <div>
          <p>市話</p>
          <p>{{order.PHONE}}</p>
        </div>
        <div>
          <p>手機</p>
          <p>{{order.MOBILE}}</p>
        </div>
        <div>
          <p>交貨類型</p>
          <p>{{order.DELIVERYINSTRUCTIONCODE}}</p>
        </div>
        <div>
          <p>備註</p>
          <p>{{order.NOTE}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="information detail">
    <p class="informationTitle">訂單資訊</p>
    <!-- 未送出 -->
    <div class="itemList" *ngIf="order.STATUS == '1'">
      <ng-container *ngFor="let product of order.ProductData">
        <div class="item">
          <!-- 主商品 -->
          <div>
            <p>{{product.PRODUCTCODE}}<span></span></p>
            <p>{{product.PRODUCTQUANTITY}}</p>
          </div>
          <!-- 關聯性商品 -->
          <div *ngIf="product.RELATEDPRODUCTCODE.length > 5">
            <p>{{product.RELATEDPRODUCTCODE}}<span></span></p>
            <p>{{product.RELATEDPRODUCTQUANTITY}}</p>
          </div>
          <!-- 贈品 -->
          <ng-container *ngFor="let present of product.Giveaway">
            <div>
              <p>{{present.PRODUCTCODE}}<span></span></p>
              <p>{{present.PRODUCTQUANTITY}}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- 修改中 -->
    <div class="itemList" *ngIf="order.STATUS == '2'">
      <ng-container *ngFor="let product of order.ProductData">
        <div class="item">
          <!-- 主商品 -->
          <div>
            <p>{{product.PRODUCTCODE}}<span></span></p>
            <p>{{product.PRODUCTQUANTITY}}</p>
          </div>
          <!-- 關聯性商品 -->
          <div *ngIf="product.RELATEDPRODUCTCODE.length > 5">
            <p>{{product.RELATEDPRODUCTCODE}}<span></span></p>
            <p>{{product.RELATEDPRODUCTQUANTITY}}</p>
          </div>
          <!-- 贈品 -->
          <ng-container *ngFor="let present of product.Giveaway">
            <div>
              <p>{{present.PRODUCTCODE}}<span></span></p>
              <p>{{present.PRODUCTQUANTITY}}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- 全部成功 -->
    <div class="itemList" *ngIf="order.STATUS == '3'">
      <ng-container *ngFor="let product of order.ProductData">
        <div class="item">
          <!-- 主商品 -->
          <div>
            <p>{{product.PRODUCTCODE}}<span>已下單  貨單{{product.DELIVERYCODE}}</span></p>
            <p>{{product.PRODUCTQUANTITY}}</p>
          </div>
          <!-- 關聯性商品 -->
          <div *ngIf="product.RELATEDPRODUCTCODE.length > 5">
            <p>{{product.RELATEDPRODUCTCODE}}<span>已下單  貨單{{product.DELIVERYCODE}}</span></p>
            <p>{{product.RELATEDPRODUCTQUANTITY}}</p>
          </div>
          <!-- 贈品 -->
          <ng-container *ngFor="let present of product.Giveaway">
            <div>
              <p>{{present.PRODUCTCODE}}<span>已下單  貨單{{present.DELIVERYCODE}}</span></p>
              <p>{{present.PRODUCTQUANTITY}}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- 有缺貨 -->
    <div class="itemList" *ngIf="order.STATUS == '4'">
      <ng-container *ngFor="let product of order.ProductData">
        <div class="item">
          <!-- 主商品 -->
          <div *ngIf="!product.ERRORMESSAGE">
            <p>{{product.PRODUCTCODE}}<span>已下單  貨單{{product.DELIVERYCODE}}</span></p>
            <p>{{product.PRODUCTQUANTITY}}</p>
          </div>
          <div *ngIf="product.ERRORMESSAGE">
            <p>{{product.PRODUCTCODE}}<span class="isSold">下單失敗  {{product.ERRORMESSAGE}}</span></p>
            <p>{{product.PRODUCTQUANTITY}}</p>
          </div>
          <!-- 關聯性商品 -->
          <div *ngIf="product.RELATEDPRODUCTCODE.length > 5 && !product.ERRORMESSAGE">
            <p>{{product.RELATEDPRODUCTCODE}}<span>已下單  貨單{{product.DELIVERYCODE}}</span></p>
            <p>{{product.RELATEDPRODUCTQUANTITY}}</p>
          </div>
          <div *ngIf="product.RELATEDPRODUCTCODE.length > 5 && product.ERRORMESSAGE">
            <p>{{product.RELATEDPRODUCTCODE}}<span class="isSold">下單失敗  {{product.ERRORMESSAGE}}</span></p>
            <p>{{product.RELATEDPRODUCTQUANTITY}}</p>
          </div>
          <!-- 贈品 -->
          <ng-container *ngFor="let present of product.Giveaway">
            <div *ngIf="!present.ERRORMESSAGE">
              <p>{{present.PRODUCTCODE}}<span>已下單  貨單{{product.DELIVERYCODE}}</span></p>
              <p>{{present.PRODUCTQUANTITY}}</p>
            </div>
            <div *ngIf="present.ERRORMESSAGE">
              <p>{{present.PRODUCTCODE}}<span class="isSold">{{present.ERRORMESSAGE}}</span></p>
              <p>{{present.PRODUCTQUANTITY}}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>


<!-- <ion-content padding> -->
  <!-- <p>訂單編號{{order.orderId}}</p> -->
  <!-- <p>下單日期{{order.createTime}}</p> -->
  <!-- <p>送貨日期{{order.deliveryDate}}</p> -->
  <!-- <p>訂單狀態{{order.status}}</p> -->
  <!-- <p>出貨狀態{{order.deliveryType}}</p> -->
  <!-- <p>地址{{order.city}}{{order.district}}{{order.address}}</p>
  <p>收件人{{order.receiver}}</p>
  <p>市話{{order.phone}}</p>
  <p>手機{{order.cellPhone}}</p>
  <p>外部交貨指示碼{{order.noteOption}}</p>
  <p>備註{{order.noteText}}</p> -->
<!-- </ion-content> -->