page-order-detail-modal {
    ion-content {
        &.content-ios .content { height: calc(100vh - 5rem - 40px - 85px); }
        .information {
            &.detail {
                .itemList {
                    .item {
                        > div {
                            p {
                                &:nth-of-type(1) {
                                    width: 10rem;
                                    span {
                                        @extend .fontsize-2;
                                        display: block;
                                        color: map-get($colors, DGray);
                                        &.isSold {
                                            color: map-get($colors, Orange);
                                        }
                                    }
                                }
                                &:nth-of-type(2) {
                                    width: calc(100% - 10rem);
                                    text-align: right;
                                    margin-left: 2rem;
                                    &:before {
                                        content: 'x';
                                        margin-right: 0.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}