<ion-content>
    <img class="logo" src="assets/imgs/teco_logo.svg"/>
    <p>歡迎您回來，請輸入下方資訊進入系統，<br>第一次進入時請使用預設之帳號密碼登入。</p>
    <div class="inputGroup">
        <label for="account">統&emsp;編</label>
        <input id="account" type="text" [(ngModel)]="account" placeholder="請輸入您的統編" autocomplete="off">
    </div>
    <div class="inputGroup">
        <label for="password">密&emsp;碼</label>
        <input id="password" type="password" [(ngModel)]="password" placeholder="請輸入您的密碼" autocomplete="off">
    </div>
    <div class="btnBlock">
        <button (click)="login()"><img src="assets/imgs/ico_check_gray.svg">登 入</button>
        <a href="">聯繫客服</a>
    </div>
</ion-content>
