page-login {
    ion-content {
        .scroll-content {
            background: url(../assets/imgs/bg_login.svg) no-repeat top -9rem center / 150%;
            margin-top: 0 !important;
            padding: 8rem 2rem 2rem !important;
            .logo { width: 7.5rem; }
            p {
                @extend .fontsize-2;
                margin-bottom: 5rem;
            }
            
        }
    }
    @media only screen and (max-width: 320px) {
        ion-content {
            .scroll-content {
                padding: 6rem 2rem 2rem !important;
                p {
                    margin-bottom: 4rem;
                }
                .btnBlock {
                    margin-top: 3rem;
                }
            }
        }
    }
}
