<ion-header>
  <ion-navbar>
    <button class="closeBtn" (click)="back()">CLOSE</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1>Set Password</h1>
    <p>設定密碼</p>
  </div>
  <p class="firstLogin">{{message}}</p>
  <div class="inputGroup">
    <label for="account">統&emsp;編</label>
    <input id="account" type="text" [(ngModel)]="account" placeholder="請輸入您的統編" autocomplete="off">
  </div>
  <div class="inputGroup">
    <label for="account">舊&ensp;密&ensp;碼</label>
    <input id="account" type="password" [(ngModel)]="oldPassword" placeholder="請輸入舊密碼" autocomplete="off">
  </div>
  <div class="inputGroup">
    <label for="account">新&ensp;密&ensp;碼</label>
    <input id="account" type="password" [(ngModel)]="newPassword" placeholder="請輸入新密碼" autocomplete="off">
  </div>
  <div class="inputGroup">
    <label for="account">確認密碼</label>
    <input id="account" type="password" [(ngModel)]="confirmPassword" placeholder="請再次輸入新密碼" autocomplete="off">
  </div>
  <div class="btnBlock">
    <button (click)="submit()"><img src="assets/imgs/ico_check_white.svg">設 定</button>
  </div>
  
  <!-- <div class="data">
    <div class="data1">
      <p>統 編</p>
      <input type="text" [(ngModel)]="account" placeholder="請輸入您的統編">
    </div>
    <div class="data1">
      <p>舊 密 碼</p>
      <input type="text" [(ngModel)]="oldPassword" placeholder="請輸入舊密碼">
    </div>
    <div class="data1">
      <p>新 密 碼</p>
      <input type="text" [(ngModel)]="newPassword" placeholder="請輸入新密碼">
    </div>
    <div class="data1">
      <p>確認密碼</p>
      <input type="text" [(ngModel)]="confirmPassword" placeholder="請再次輸入新密碼">
    </div>
  </div>
  <div class="button" (click)="back()">
    <div>設定</div>
  </div> -->
  
</ion-content>