<ion-header>
  <ion-navbar>
    <button class="closeBtn" (click)="back()">CLOSE</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1>Specification</h1>
    <p>產品詳細規格</p>
  </div>
  <ng-container *ngIf="product.TYPE !== '6' || !product.PRODUCTCODE.startsWith('MS')">
    <div class="product">
      <div class="productTitle">
        <p>室外機型號</p>
        <p>{{product.PRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.PRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>
        <div>
          <p>連接配管<span>(分)</span></p>
          <p>{{product.LIQUIDPIPINGSIZE}}, {{product.AIRPIPINGSIZE}}</p>
        </div>
        <div>
          <p>冷暖氣能力<span>(kw)</span></p>
          <p>{{product.POWER}}</p>
        </div>

        <div>
          <p>參考坪數</p>
          <p>{{product.SQUAREMETERS}}</p>
        </div>
        <div>
          <p>除濕能力<span>(L/h)</span></p>
          <p>{{product.DEHUMIDIFIERCAPACITY}}</p>
        </div>
        <div>
          <p>能源效率等級</p>
          <p>{{product.ENERGYEFFICIENCYRATING}}</p>
        </div>
        <div>
          <p>冷氣季節性能因數</p>
          <p>{{product.SEASONALPERFORMANCE}}</p>
        </div>
        <div>
          <p>年耗電量<span>(度)</span></p>
          <p>{{product.ELECTRICITYCONSUMPTIONPERYEAR}}</p>
        </div>
        <div>
          <p>運轉電流<span>(A)</span></p>
          <p>{{product.ELECTRICCURRENT}}</p>
        </div>
        <div>
          <p>消耗電力<span>(W)</span></p>
          <p>{{product.ELECTRICITYCONSUMPTION}}</p>
        </div>
        <div>
          <p>產品重量<span>(KG)</span></p>
          <p>{{product.PRODUCTWEIGHT}}</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="productTitle">
        <p>室內機型號</p>
        <p>{{product.RELATEDPRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.RELATEDPRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>

        <div>
          <p>關聯產品重量<span>(KG)</span></p>
          <p>{{product.RELATEDPRODUCTWEIGHT}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="product.TYPE === '6' && product.PRODUCTCODE.startsWith('MS')">
    <div class="product">
      <div class="productTitle">
        <p>室內機型號</p>
        <p>{{product.PRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.PRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>
        
        <div>
          <p>關聯產品重量<span>(KG)</span></p>
          <p>{{product.RELATEDPRODUCTWEIGHT}}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="product.TECOURL" class="btnBlock">
    <button (click)="goDataLink(product)"><img src="assets/imgs/ico_check_white.svg">產品圖及功能特色說明</button>
  </div>

</ion-content>