<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/teco_logo.svg">
    </ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="product" (click)="toAcPage()">
    <span>AIR CONDITIONING</span>
    <p>家用空調</p>
  </div>
  <div class="product disable" (click)="showdisableMessage()">
    <span>REFRIGERATOR</span>
    <p>冰箱</p>
  </div>
  <div class="product disable" (click)="showdisableMessage()">
    <span>WASHING MACHINE</span>
    <p>洗衣機</p>
  </div>
  <div class="product disable" (click)="showdisableMessage()">
    <span>LCD MONITOR</span>
    <p>液晶顯示器</p>
  </div>
</ion-content>
