page-category {
    $productImgs: (
        url(../assets/imgs/img_aircondition.svg),
        url(../assets/imgs/img_refrigerator.svg),
        url(../assets/imgs/img_washing.svg),
        url(../assets/imgs/img_monitor.svg)
    );
    .product {
        text-align: right;
        background: no-repeat left bottom / contain;
        padding: 2.5em 2em 2.5em 40%;
        &:nth-of-type(even) { background-color: map-get($colors, LGray); }
        &.disable { opacity: 0.5; }
        @for $i from 1 to length($productImgs)+1 {
            &:nth-of-type(#{$i}) {
                background-image: nth($productImgs, $i);
            }
        }
        span {
            @extend .fontsize0;
            display: block;
            font-weight: bold;
            color: map-get($colors, DGray);
        }
        p {
            @extend .fontsize6;
            font-weight: bold;
            color: map-get($colors, Black);
            margin: 0;
        }
    }
}
