<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      推播訊息
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="messageList">
    <!-- 當收到新訊息未讀的時候需要增加unread樣式 -->
    <div *ngFor="let message of messageList" (click)="openMessageModal(message)" [ngClass]="{true: 'unread'}[newRecord[message.messageId] == 0]">
      <h2>{{message.title}}</h2>
      <p>{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
    </div>
  </div>
</ion-content>
