page-message {
    ion-content {
        .scroll-content {
            .messageList {
                &> div {
                    padding: 1.5rem 2rem;
                    &:nth-of-type(even) { background: map-get($colors, LGray); }
                    &.unread:before {
                        @extend .fontsize-2;
                        content: '未讀';
                        display: inline-block;
                        vertical-align: baseline;
                        color: map-get($colors, White);
                        border-radius: 15px;
                        background: map-get($colors, Orange);
                        margin-right: 5px;
                        padding: 3px 10px;
                    }
                    h2 {
                        @extend .fontsize2;
                        min-height: 1.5rem;
                        display: inline-block;
                        vertical-align: baseline;
                        color: map-get($colors, Black);
                        margin: 0 0 0.5rem;
                    }
                    p {
                        @extend .fontsize0;
                        color: map-get($colors, DGray);
                        margin: 0;
                    }
                }
            }
            .a {
                &> div {
                    padding: 0 20px;
                    p {
                        margin: 0;
                        padding: 10px 0;

                        &:nth-of-type(1) {
                            font-size: 1.3em;
                            font-family: "Microsoft JhengHei";
                            font-weight: bold;
                            color: map-get($colors, Black);
                        }
                        &:nth-of-type(2) {
                            font-size: 1.2em;
                            font-family: "Century Gothic";
                            color: map-get($colors, DGray);
                        }
                    }
                }
            }
        }
    }
}
