<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      家用空調
    </ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<div ion-fixed class="option">
    <div class="listBt">
      <ion-segment [(ngModel)]="type" color="primary" (ionChange)="typeChange()">
        <ion-segment-button class="left" value="1">HS</ion-segment-button>
        <ion-segment-button class="left" value="2">GA/HP</ion-segment-button>
        <ion-segment-button class="right" value="3">窗型變頻</ion-segment-button>
      </ion-segment>
    </div>
    <div class="listBt">
      <ion-segment [(ngModel)]="type" color="primary" (ionChange)="typeChange()">
        <ion-segment-button class="left" value="4">窗型定頻</ion-segment-button>
        <ion-segment-button class="left" value="5">GS</ion-segment-button>
        <ion-segment-button class="right" value="6">VRF</ion-segment-button>
      </ion-segment>
    </div>
    <input type="text" [(ngModel)]="searchText" placeholder="輸入型號快速查詢"/>
  </div>-->
  <div ion-fixed class="option">
    <ion-scroll>
      <ul class="listBtn">
        <li [ngClass]="{true: 'active'}[type === '1']" (click)="typeChange('1')">HS系列</li>
        <li [ngClass]="{true: 'active'}[type === '2']" (click)="typeChange('2')">GA/HP系列</li>
        <li [ngClass]="{true: 'active'}[type === '3']" (click)="typeChange('3')">窗型變頻</li>
        <li [ngClass]="{true: 'active'}[type === '4']" (click)="typeChange('4')">窗型定頻</li>
        <li [ngClass]="{true: 'active'}[type === '5']" (click)="typeChange('5')">定頻分離式</li>
        <li [ngClass]="{true: 'active'}[type === '6']" (click)="typeChange('6')">一對多系列</li>
      </ul>
      <!-- <div class="listBtn">
        <div [ngClass]="{true: 'active'}[type === '1']" (click)="typeChange('1')">HS</div>
        <div [ngClass]="{true: 'active'}[type === '2']" (click)="typeChange('2')">GA/HP</div>
        <div [ngClass]="{true: 'active'}[type === '3']" (click)="typeChange('3')">窗型變頻</div>
        <div [ngClass]="{true: 'active'}[type === '4']" (click)="typeChange('4')">窗型定頻</div>
        <div [ngClass]="{true: 'active'}[type === '5']" (click)="typeChange('5')">GS</div>
        <div [ngClass]="{true: 'active'}[type === '6']" (click)="typeChange('6')">VRF</div>
      </div> -->
    </ion-scroll>
    <input class="search" type="text" [(ngModel)]="searchText" placeholder="輸入型號快速搜尋"/>
  </div>
  <!--<section class="productList">
    
    <div *ngIf="type === '1'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[0] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="type === '2'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[1] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="type === '3'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[2] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="type === '4'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[3] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="type === '5'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[4] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="type === '6'">
      <div class="table">
        <div>機型</div>
        <div>冷暖</div>
        <div>外型尺寸</div>
        <div>連接配管</div>
        <div></div>
      </div>
      <div class="table" *ngFor="let item of productList[5] | filter : searchText">
        <div>{{item.PRODUCTCODE}}</div>
        <div>{{item.POWER}}</div>
        <div>{{item.PRODUCTSIZE}}</div>
        <div>{{item.LIQUIDPIPINGSIZE}}, {{item.AIRPIPINGSIZE}}</div>
        <div>
          <button ion-button [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)">
            <span *ngIf="item.isSelected">-</span>
            <span *ngIf="!item.isSelected">+</span>
          </button>
        </div>
      </div>
    </div>
  </section>-->
  <!--<button ion-button (click)="toCartPage()">購物車</button>
  <div *ngIf="count" class="count">已加入 {{count}} 項商品</div>-->

  <div class="productList">
    <ng-container *ngIf="type === '1' && productList[0].length > 0">
      <div class="product" *ngFor="let item of productList[0] | filter : searchText">
        <div>
          <p>室外機型號</p>
          <p>{{item.PRODUCTCODE}}</p>
        </div>
        <div>
          <p>室內機型號</p>
          <p>{{item.RELATEDPRODUCTCODE}}</p>
        </div>
        <button (click)="openProductDetailModal(item)">詳細規格</button>
        <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
        <!-- <div class="right" [ngClass]="{'active': item.isSelected > 0}" (click)="addToCart(item)"></div> -->
      </div>
    </ng-container>
    <ng-container *ngIf="type === '1' && productList[0].length == 0">
      <div class="emptyMsg">此分類無商品可下單</div>
    </ng-container>
    <ng-container *ngIf="type === '2' && productList[1].length > 0">
      <div class="product" *ngFor="let item of productList[1] | filter : searchText">
        <div>
          <p>室外機型號</p>
          <p>{{item.PRODUCTCODE}}</p>
        </div>
        <div>
          <p>室內機型號</p>
          <p>{{item.RELATEDPRODUCTCODE}}</p>
        </div>
        <button (click)="openProductDetailModal(item)">詳細規格</button>
        <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
      </div>
    </ng-container>
    <ng-container *ngIf="type === '2' && productList[1].length == 0">
      <div class="emptyMsg">此分類無商品可下單</div>
    </ng-container>
    <ng-container *ngIf="type === '3'">
      <div class="product" *ngFor="let item of productList[2] | filter : searchText">
        <div>
          <p>室外機型號</p>
          <p>{{item.PRODUCTCODE}}</p>
        </div>
        <div>
          <p>室內機型號</p>
          <p>{{item.RELATEDPRODUCTCODE}}</p>
        </div>
        <button (click)="openProductDetailModal(item)">詳細規格</button>
        <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
      </div>
    </ng-container>
    <ng-container *ngIf="type === '4'">
      <div class="product" *ngFor="let item of productList[3] | filter : searchText">
        <div>
          <p>室外機型號</p>
          <p>{{item.PRODUCTCODE}}</p>
        </div>
        <div>
          <p>室內機型號</p>
          <p>{{item.RELATEDPRODUCTCODE}}</p>
        </div>
        <button (click)="openProductDetailModal(item)">詳細規格</button>
        <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
      </div>
    </ng-container>
    <ng-container *ngIf="type === '5'">
      <div class="product" *ngFor="let item of productList[4] | filter : searchText">
        <div>
          <p>室外機型號</p>
          <p>{{item.PRODUCTCODE}}</p>
        </div>
        <div>
          <p>室內機型號</p>
          <p>{{item.RELATEDPRODUCTCODE}}</p>
        </div>
        <button (click)="openProductDetailModal(item)">詳細規格</button>
        <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
      </div>
    </ng-container>
    <ng-container *ngIf="type === '6'">
      <div class="product" *ngFor="let item of productList[5] | filter : searchText">
        <ng-container *ngIf="!item.PRODUCTCODE.startsWith('MS')">
          <div>
            <p>室外機型號</p>
            <p>{{item.PRODUCTCODE}}</p>
          </div>
          <div>
            <p>室內機型號</p>
            <p>{{item.RELATEDPRODUCTCODE}}</p>
          </div>
          <button (click)="openProductDetailModal(item)">詳細規格</button>
          <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
        </ng-container>
        <ng-container *ngIf="item.PRODUCTCODE.startsWith('MS')">
          <div>
            <p>室內機型號</p>
            <p>{{item.PRODUCTCODE}}</p>
          </div>
          <button (click)="openProductDetailModal(item)">詳細規格</button>
          <input type="checkbox" [checked]="item.isSelected > 0" (click)="addToCart(item)">
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div ion-fixed class="count">已選 {{count}} 項商品</div>
  <button ion-fixed class="fixedBtn" (click)="toCartPage()">
    <img src="assets/imgs/ico_arrow.svg">
    <span>前往購物車</span>
  </button>
</ion-content>
