page-ac {
    .fixed-content {
        .option {
            width: 100%;
            ion-scroll {
                height: 3rem;
                white-space: nowrap;
                .scroll-content {
                    .scroll-zoom-wrapper {
                        .listBtn {
                            overflow:scroll;
                            margin: 0;
                            padding: 0 1.5rem;
                            li {
                                @extend .fontsize0;
                                position: relative;
                                display: inline-block;
                                line-height: 1rem;
                                color: map-get($colors, Black);
                                margin: 1rem 0;
                                padding: 0 1rem;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    height: 2px;
                                    width: 0;
                                    left: 1rem;
                                    bottom: -0.5rem;
                                    background: map-get($colors, Black);
                                    transition: all 0.3s;
                                }
                                &:not(:nth-last-of-type(1)) {
                                    border-right: 1px solid map-get($colors, Gray);
                                }
                                &.active {
                                    // border-bottom: 2px solid black;
                                    &:after {
                                        width: calc(100% - 2rem);
                                        right: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search {
                @extend .fontsize0;
                width: 100%;
                color: map-get($colors, White);
                border: 0;
                border-radius: 0;
                background: url(../assets/imgs/ico_search.svg) no-repeat left 2.5rem center / 1rem map-get($colors, Black);
                padding: 0.8rem 2rem 0.8rem 4rem;
            }
        }
        .count {
            @extend .fontsize0;
            left: 0;
            right: 0;
            bottom: 3rem;
            text-align: center;
            line-height: 1rem;
            color: map-get($colors, White);
            background-color: map-get($colors, LBlue);
            padding: 1rem 4px;
            span {

            }
        }
    }
    ion-content{
        &.content-ios {
            > .scroll-content {
                margin-top: calc(85px + 3rem + 2.6rem) !important;
            }
        }
        > .scroll-content {
            margin-top: calc(65px + 3rem + 2.6rem) !important;
            margin-bottom: 6rem;
            .productList {
                .product {
                    position: relative;
                    padding: 7% 10%;
                    &:nth-of-type(odd) {
                        background-color: map-get($colors, LGray);
                    }
                    > div {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin: 0 0 1rem;
                        p {
                            @extend .fontsize2;
                            display: inline-block;
                            font-weight: bold;
                            line-height: 1.2rem;
                            color: map-get($colors, Black);
                            margin: 0;
                            &:nth-of-type(1) {
                                width: 7rem;
                                border-right: 2px solid map-get($colors, Gray);
                            }
                            &:nth-of-type(2) {
                                width: calc(100% - 7rem - 1rem);
                                margin-left: 1rem;
                            }
                        }
                    }
                    button {
                        @extend .fontsize0;
                        position: relative;
                        z-index: 1;
                        color: map-get($colors, DBlue);
                        border-bottom: 1px solid map-get($colors, DBlue);
                        background: url(../assets/imgs/ico_detail.svg) no-repeat center left 10px / 1rem transparent;
                        padding: 0.5em 0.5rem 0.7em 2.5em;
                    }
                    input {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        right: 0;
                        &[type="checkbox"] {
                            display: inline-block;
                            vertical-align: middle;
                            background: url(../assets/imgs/ico_checkbox.svg) no-repeat right 10% center/30px;
                            &+ label {
                              @extend .fontsize0;
                              display: inline-block;
                              vertical-align: middle;
                              color: map-get($colors, Black);
                              cursor: pointer;
                            }
                            &:checked { background-image: url(../assets/imgs/ico_checkbox_active.svg); }
                        }
                    }
                }
                .emptyMsg {
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content{
            .fixed-content {
                .count {
                    bottom: calc(3rem + 22px);
                }
                .fixedBtn {
                    padding: 1rem 0 calc(1rem + 22px);
                }
            }
            &.content-ios {
                > .scroll-content {
                    margin-top: calc(95px + 3rem + 2.6rem) !important;
                }
            }
            > .scroll-content {
                margin-bottom: calc(6rem + 22px);
            }
        }
    }
}
