page-cart {
    .fixed-content {
        .count {
            @extend .fontsize0;
            bottom: 3rem;
            width: 100%;
            display: inline-flex;
            justify-content: flex-start;
            line-height: 1rem;
            color: map-get($colors, White);
            background-color: map-get($colors, LBlue);
            padding: 1rem 1.5rem;
            >div {
                &:nth-of-type(1) {
                    flex-basis: 30%;
                    >label { color: map-get($colors, White); }
                }
                &:nth-of-type(2) {
                    flex-basis: 70%;
                    text-align: right;
                    > p {
                        display: inline-block;
                        vertical-align: baseline;
                        color: map-get($colors, White);
                        font-weight: bold;
                        margin: 0;
                        &:nth-of-type(1) { @extend .fontsize2; }
                        &:nth-of-type(2) { @extend .fontsize8; }
                    }
                }
            }
        }
    }
    ion-content {
        .scroll-content {
            margin-bottom: 6rem;
            > .title {
                width: calc(100% - 4rem);
                border-bottom: 3px solid black;
                padding-bottom: 1.5rem;
                margin: 0 auto;
            }
            .itemList {
                padding: 0 2rem;
                &:nth-of-type(odd) {
                    background: map-get($colors, LGray);
                    .inputGroup { background: map-get($colors, White) !important; }
                }
                &:nth-last-of-type(1) { margin-bottom: 2.5rem; }
                .listContent {
                    border-bottom: 3px solid map-get($colors, Black);
                    padding: 1.2rem 0;
                    .code {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin: 0.8rem 0;
                        p {
                            @extend .fontsize4;
                            font-weight: bold;
                            margin: 0;
                            &:nth-of-type(1) {
                                width: 60%;
                                color: map-get($colors, Black);
                            }
                            &:nth-of-type(2) {
                                text-align: right;
                                width: 40%;
                                color: map-get($colors, Blue);
                            }
                        }
                    }
                    .amount, .model {
                        margin: 5px 0;
                        ion-item {
                            background: map-get($colors, LGray);
                            border: none !important;
                        }
                    }
                    .priceType {
                        margin: 0.8rem 0;
                        p {
                            @extend .fontsize2;
                            width: 6rem;
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: bold;
                            color: map-get($colors, Black);
                            margin: 0;
                        }
                        > div {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 0.5rem;
                            &:not(:nth-of-type(1)) {
                                margin-left: 0.5rem;
                            }
                            input {
                                position: absolute;
                                bottom: 0;
                                width: calc(1rem + 30px);
                                border-radius: 0;
                                &[type="radio"] {
                                    background: url(../assets/imgs/ico_radio.svg) no-repeat left center/contain;
                                    &:checked {
                                        background-image: url(../assets/imgs/ico_radio_active.svg);
                                    }
                                }
                            }
                            label {
                                padding: 0 0 0 25px;
                            }
                        }
                    }
                    .present {
                        border-top: 1px solid map-get($colors, Gray);
                        margin-bottom: 1rem;
                        >button {
                            @extend .fontsize0;
                            text-align: center;
                            color: map-get($colors, White);
                            background: map-get($colors, DGray);
                            border-radius: 1.5rem;
                            margin: 1rem 0;
                            padding: 0.6rem 1rem;
                        }
                    }
                    button {
                        &.addone {
                            @extend .fontsize0;
                            width: 100%;
                            color: map-get($colors, White);
                            background: map-get($colors, Black);
                            padding: 1rem;
                        }
                    }
                    .subTotal {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-top: 1rem;
                        p {
                            @extend .fontsize2;
                            font-weight: bold;
                            color: map-get($colors, Black);
                            margin: 0;
                            &:nth-of-type(2) {
                                @extend .fontsize8;
                                color: map-get($colors, Blue);
                                margin-left: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
        
    }
    @media only screen and (max-width: 320px) {
        ion-content {
            .scroll-content {
                margin-bottom: calc(51px + 1rem + 1rem + 8px + 4.5px) !important;
            }
        }
        .fixed-content {
            .count {
                padding: calc(0.5rem + 4px + 4.5px) 1.5rem;
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content{
            .fixed-content {
                .count {
                    bottom: calc(3rem + 22px);
                }
                .fixedBtn {
                    padding: 1rem 0 calc(1rem + 22px);
                }
            }
            .scroll-content {
                margin-bottom: calc(6rem + 22px);
            }
        }
    }
}
