<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>購物車</ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="title">
        <h2>Product List</h2>
        <p>購物清單</p>
    </div>
    <div class="itemList" *ngFor="let item of itemList; index as i">
        <div class="listContent">
          <!-- 主商品 -->
          <div>
              <input type="checkbox" [id]="'isSelected' + i" [checked]="item.isSelected" (click)="selectItem(item)">
              <label [for]="'isSelected' + i">選擇此商品</label>
          </div>
          <div class="code">
              <p>{{item.PRODUCTCODE}}</p>
              <p>$ {{item.PRODUCTPRICE[item.selectedPriceType].PRICE}}</p>
          </div>
          <div class="amount">
            <div class="inputGroup select">
              <label for="password">數 量</label>
              <ion-select  [(ngModel)]="item.amount" placeholder="0" (ionChange)="changeAmount(item, $event)" okText="確認" cancelText="取消">
                <ion-option [value]="1">1</ion-option>
                <ion-option [value]="2">2</ion-option>
                <ion-option [value]="3">3</ion-option>
                <ion-option [value]="4">4</ion-option>
                <ion-option [value]="5">5</ion-option>
                <ion-option [value]="6">6</ion-option>
                <ion-option [value]="7">7</ion-option>
                <ion-option [value]="8">8</ion-option>
                <ion-option [value]="9">9</ion-option>
                <ion-option [value]="10">10</ion-option>
                <ion-option [value]="11">11</ion-option>
                <ion-option [value]="12">12</ion-option>
                <ion-option [value]="13">13</ion-option>
                <ion-option [value]="14">14</ion-option>
                <ion-option [value]="15">15</ion-option>
                <ion-option [value]="16">16</ion-option>
                <ion-option [value]="17">17</ion-option>
                <ion-option [value]="18">18</ion-option>
                <ion-option [value]="19">19</ion-option>
                <ion-option [value]="20">20</ion-option>
                <ion-option [value]="21">21</ion-option>
                <ion-option [value]="22">22</ion-option>
                <ion-option [value]="23">23</ion-option>
                <ion-option [value]="24">24</ion-option>
                <ion-option [value]="25">25</ion-option>
                <ion-option [value]="26">26</ion-option>
                <ion-option [value]="27">27</ion-option>
                <ion-option [value]="28">28</ion-option>
                <ion-option [value]="29">29</ion-option>
                <ion-option [value]="30">30</ion-option>
                <ion-option [value]="31">31</ion-option>
                <ion-option [value]="32">32</ion-option>
                <ion-option [value]="33">33</ion-option>
                <ion-option [value]="34">34</ion-option>
                <ion-option [value]="35">35</ion-option>
                <ion-option [value]="36">36</ion-option>
                <ion-option [value]="37">37</ion-option>
                <ion-option [value]="38">38</ion-option>
                <ion-option [value]="39">39</ion-option>
                <ion-option [value]="40">40</ion-option>
                <ion-option [value]="41">41</ion-option>
                <ion-option [value]="42">42</ion-option>
                <ion-option [value]="43">43</ion-option>
                <ion-option [value]="44">44</ion-option>
                <ion-option [value]="45">45</ion-option>
                <ion-option [value]="46">46</ion-option>
                <ion-option [value]="47">47</ion-option>
                <ion-option [value]="48">48</ion-option>
                <ion-option [value]="49">49</ion-option>
                <ion-option [value]="50">50</ion-option>
              </ion-select>
            </div>
          </div>

          <!-- 關聯性商品 -->
          <ng-container *ngIf="item.RELATEDPRODUCTCODE.length > 5">
            <div class="code">
                <p>{{item.RELATEDPRODUCTCODE}}</p>
                <p>$ {{item.RELATEDPRODUCTPRICE[item.selectedPriceType].PRICE}}</p>
            </div>
            <div class="amount">
              <div class="inputGroup select">
                <label for="password">數 量</label>
                <ion-select  [(ngModel)]="item.relatedItemAmount" placeholder="0" (ionChange)="refreshTotalPrice()" okText="確認" cancelText="取消">
                  <ion-option [value]="0">0</ion-option>
                  <ion-option [value]="1">1</ion-option>
                  <ion-option [value]="2">2</ion-option>
                  <ion-option [value]="3">3</ion-option>
                  <ion-option [value]="4">4</ion-option>
                  <ion-option [value]="5">5</ion-option>
                  <ion-option [value]="6">6</ion-option>
                  <ion-option [value]="7">7</ion-option>
                  <ion-option [value]="8">8</ion-option>
                  <ion-option [value]="9">9</ion-option>
                  <ion-option [value]="10">10</ion-option>
                  <ion-option [value]="11">11</ion-option>
                  <ion-option [value]="12">12</ion-option>
                  <ion-option [value]="13">13</ion-option>
                  <ion-option [value]="14">14</ion-option>
                  <ion-option [value]="15">15</ion-option>
                  <ion-option [value]="16">16</ion-option>
                  <ion-option [value]="17">17</ion-option>
                  <ion-option [value]="18">18</ion-option>
                  <ion-option [value]="19">19</ion-option>
                  <ion-option [value]="20">20</ion-option>
                  <ion-option [value]="21">21</ion-option>
                  <ion-option [value]="22">22</ion-option>
                  <ion-option [value]="23">23</ion-option>
                  <ion-option [value]="24">24</ion-option>
                  <ion-option [value]="25">25</ion-option>
                  <ion-option [value]="26">26</ion-option>
                  <ion-option [value]="27">27</ion-option>
                  <ion-option [value]="28">28</ion-option>
                  <ion-option [value]="29">29</ion-option>
                  <ion-option [value]="30">30</ion-option>
                  <ion-option [value]="31">31</ion-option>
                  <ion-option [value]="32">32</ion-option>
                  <ion-option [value]="33">33</ion-option>
                  <ion-option [value]="34">34</ion-option>
                  <ion-option [value]="35">35</ion-option>
                  <ion-option [value]="36">36</ion-option>
                  <ion-option [value]="37">37</ion-option>
                  <ion-option [value]="38">38</ion-option>
                  <ion-option [value]="39">39</ion-option>
                  <ion-option [value]="40">40</ion-option>
                  <ion-option [value]="41">41</ion-option>
                  <ion-option [value]="42">42</ion-option>
                  <ion-option [value]="43">43</ion-option>
                  <ion-option [value]="44">44</ion-option>
                  <ion-option [value]="45">45</ion-option>
                  <ion-option [value]="46">46</ion-option>
                  <ion-option [value]="47">47</ion-option>
                  <ion-option [value]="48">48</ion-option>
                  <ion-option [value]="49">49</ion-option>
                  <ion-option [value]="50">50</ion-option>
                </ion-select>
              </div>
            </div>
          </ng-container>

          <div class="priceType">
            <p>出貨類型</p>
            <div>
              <input type="radio" [name]="'priceType_' + i" [id]="'priceType01_' + i" [checked]="item.selectedPriceType == 0" value="0" (click)="setRadio(item, 0)">
              <label [for]="'priceType01_' + i">01</label>
            </div>
            <ng-container *ngIf="item.PRODUCTPRICE[1].PRICE">
              <div>
                <input type="radio" [name]="'priceType_' + i" [id]="'priceType18_' + i" [checked]="item.selectedPriceType == 1" value="1" (click)="setRadio(item, 1)">
                <label [for]="'priceType18_' + i">18</label>
              </div>
            </ng-container>
          </div>

          <ng-container *ngFor="let presentItem of item.presentItems">
            <div class="present" *ngIf="item.presentItems.length > 0 && item.selectedPriceType == 0">
              <button (click)="removePresent(item, presentItem)">刪除此筆</button>
              <div class="inputGroup select">
                <label for="password">贈 品</label>
                <ion-select  [(ngModel)]="presentItem.model" placeholder="不選購" (ionChange)="setPresent(presentItem, $event)" okText="確認" cancelText="取消">
                  <ion-option *ngFor="let present of presentList" [value]="present.PRODUCTCODE">{{present.PRODUCTNAME}}</ion-option>
                </ion-select>
              </div>
              <div class="inputGroup select" *ngIf="presentItem.model">
                <label for="password">數 量</label>
                <ion-select  [(ngModel)]="presentItem.amount" placeholder="0" (ionChange)="refreshTotalPrice()" okText="確認" cancelText="取消">
                  <ion-option [value]="1">1</ion-option>
                  <ion-option [value]="2">2</ion-option>
                  <ion-option [value]="3">3</ion-option>
                  <ion-option [value]="4">4</ion-option>
                  <ion-option [value]="5">5</ion-option>
                  <ion-option [value]="6">6</ion-option>
                  <ion-option [value]="7">7</ion-option>
                  <ion-option [value]="8">8</ion-option>
                  <ion-option [value]="9">9</ion-option>
                  <ion-option [value]="10">10</ion-option>
                  <ion-option [value]="11">11</ion-option>
                  <ion-option [value]="12">12</ion-option>
                  <ion-option [value]="13">13</ion-option>
                  <ion-option [value]="14">14</ion-option>
                  <ion-option [value]="15">15</ion-option>
                  <ion-option [value]="16">16</ion-option>
                  <ion-option [value]="17">17</ion-option>
                  <ion-option [value]="18">18</ion-option>
                  <ion-option [value]="19">19</ion-option>
                  <ion-option [value]="20">20</ion-option>
                  <ion-option [value]="21">21</ion-option>
                  <ion-option [value]="22">22</ion-option>
                  <ion-option [value]="23">23</ion-option>
                  <ion-option [value]="24">24</ion-option>
                  <ion-option [value]="25">25</ion-option>
                  <ion-option [value]="26">26</ion-option>
                  <ion-option [value]="27">27</ion-option>
                  <ion-option [value]="28">28</ion-option>
                  <ion-option [value]="29">29</ion-option>
                  <ion-option [value]="30">30</ion-option>
                  <ion-option [value]="31">31</ion-option>
                  <ion-option [value]="32">32</ion-option>
                  <ion-option [value]="33">33</ion-option>
                  <ion-option [value]="34">34</ion-option>
                  <ion-option [value]="35">35</ion-option>
                  <ion-option [value]="36">36</ion-option>
                  <ion-option [value]="37">37</ion-option>
                  <ion-option [value]="38">38</ion-option>
                  <ion-option [value]="39">39</ion-option>
                  <ion-option [value]="40">40</ion-option>
                  <ion-option [value]="41">41</ion-option>
                  <ion-option [value]="42">42</ion-option>
                  <ion-option [value]="43">43</ion-option>
                  <ion-option [value]="44">44</ion-option>
                  <ion-option [value]="45">45</ion-option>
                  <ion-option [value]="46">46</ion-option>
                  <ion-option [value]="47">47</ion-option>
                  <ion-option [value]="48">48</ion-option>
                  <ion-option [value]="49">49</ion-option>
                  <ion-option [value]="50">50</ion-option>
                </ion-select>
              </div>
            </div>
          </ng-container>
          <button class="addone" (click)="addPresent(item)" *ngIf="item.GIVEAWAY == 'T' && item.selectedPriceType == 0">
            <img src="assets/imgs/ico_add.svg" alt="add">
            加入贈品</button>
          <div class="subTotal">
            <p>小計</p>
            <p>$ {{item.subTotal}}</p>
          </div>
        </div>
    </div>
  <div ion-fixed class="count">
      <div>
          <input type="checkbox" id="chooseAll" [checked]="isSelectAll" (click)="selectAll()">
          <label for="chooseAll">全選</label>
      </div>
      <div>
        <p>總計</p>
        <p>$ {{totalPrice}}</p>
      </div>
  </div>

  <button ion-fixed class="fixedBtn" (click)="toConfirmPage()">
    <img src="assets/imgs/ico_truck.svg">
    <span>填寫送貨日期</span>
  </button>
</ion-content>
