page-home {
    .scroll-content { padding: 1.5rem 2rem 0; }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        > div {
            width: calc((100% - 0.5rem)/2);
            text-align: center;
            background: map-get($colors, LGray);
            margin-bottom: 0.5rem;
            padding: 1.5rem 0.5rem 1rem;
            &:nth-of-type(even) { margin-left: 0.5rem; }
            img { height: 2.5rem;}
            p {
                @extend .fontsize2;
                font-weight: bold;
                color: map-get($colors, DBlue);
                margin: 0.5rem 0 0;
                span {
                    @extend .fontsize-2;
                    display: block;
                    color: map-get($colors, DGray);
                }
            }
        }
    }
    .news {
        min-height: calc(100% - 17rem - 4rem - 2rem - 6px);
        background: map-get($colors, LGray);
        margin: 0 -2rem;
        padding: 2rem;
        > div {
            position: relative;
            overflow: hidden;
            background: map-get($colors, White);
            margin-bottom: 10px;
            padding: 1.5rem 0.5rem 1.5rem calc(40% + 0.5rem);
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 40%;
            }
            span {
                @extend .fontsize-2;
                display: block;
                text-align: right;
                font-weight: bold;
                color: map-get($colors, Black);
                margin-bottom: 5px;
            }
            p {
                @extend .fontsize2;
                @include multipleTextOverFlow(2);
                min-height: 50px;
                text-align: right;
                font-weight: bold;
                color: map-get($colors, DGray);
                margin: 0;
            }
        }
    }
}
