<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="toSettingPage()">
        <img src="assets/imgs/ico_user.svg">
        <span>帳號</span>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/teco_logo.svg">
    </ion-title>
    <ion-buttons right>
      <button (click)="toMessagePage()">
        <img src="assets/imgs/ico_message.svg">
        <span>訊息</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="menu">
        <div class="activeFilter" (click)="toOrderPage()">
            <img src="assets/imgs/ico_order.svg" alt="order">
            <p><span>Order</span>下單訂貨</p>
        </div>
        <div class="activeFilter" (click)="toWarehousePage()">
            <img src="assets/imgs/ico_pickup.svg" alt="pickup">
            <p><span>Pick Up</span>代管倉提貨</p>
        </div>
        <div class="activeFilter" (click)="toOrderListPage()">
            <img src="assets/imgs/ico_history.svg" alt="history">
            <p><span>Historical Order</span>歷史訂單</p>
        </div>
        <div class="activeFilter" (click)="toProductLink()">
            <img src="assets/imgs/ico_product.svg" alt="product">
            <p><span>Product</span>商品專區</p>
        </div>
    </div>
    <div class="title">
        <h2>What's News</h2>
        <p>最新消息</p>
    </div>
    <div class="news">
        <!--<div>
            <img src="assets/imgs/dm.jpg">
            <span>2019-12-01 東元活動</span>
            <p>東元家電年終好禮大贈送</p>
        </div>
        <div>
            <img src="assets/imgs/dm.jpg">
            <span>2019-10-01 東元活動</span>
            <p>東元家用空調 暖心好禮5選1</p>
        </div>
        <div>
            <img src="assets/imgs/dm.jpg">
            <span>2019-06-11 產品新知</span>
            <p>東元家電 家用空調 [三代同堂篇]</p>
        </div>
        <div>
            <img src="assets/imgs/img_noimg.svg">
            <span>2019-06-01 東元公告</span>
            <p>除濕機召回公告啟事</p>
        </div>
        <div>
            <img src="assets/imgs/dm.jpg">
            <span>2019-12-01 東元活動</span>
            <p>[瘋設計] 還在跟PM2.5纏鬥？看看新商品介紹</p>
        </div>-->
        <div *ngFor="let data of advertisement" (click)="goDataLink(data)">
          <img [src]="data.Image">
          <span>{{data.Type}}</span>
          <p>{{data.Name}}</p>
        </div>
    </div>
</ion-content>
