// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  Black: #000000,
  DGray: #5C5C5C,
  Gray: #C1C5C5,
  LGray: #F0F0F0,
  White: #FFFFFF,
  DBlue: #004584,
  Blue: #005098,
  LBlue: #568EC0,
  Orange: #EA5717,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Fonts RWD setting
// --------------------------------------------------
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
	        @media (max-width: $breakpoint) {
	            font-size: $font-size;
	        }
        }
    }
}
$html-font-size: (null:16px, 768px:16px, 360px:14px);

/* functional mixin  ------------------------------------------------------------------------- */
// 單行文字溢出顯示省略號
@mixin textOverFlow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
// 多行文字溢出顯示省略號
@mixin multipleTextOverFlow($num) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}

/* fontsize commmon  ------------------------------------------------------------------------- */
//字體設定，以1rem為單位，做2px字級的調整
.fontsize-2 { font-size: 0.875rem; }
.fontsize0 { font-size: 1rem; }
.fontsize2 { font-size: 1.125rem; }
.fontsize4 { font-size: 1.250rem; }
.fontsize6 { font-size: 1.375rem; }
.fontsize8 { font-size: 1.500rem; }
.fontsize10 { font-size: 1.625rem; }
.fontsize12 { font-size: 1.750rem; }
.fontsize14 { font-size: 1.875rem; }
.fontsize16 { font-size: 2rem; }
.fontsize18 { font-size: 2.125rem; }
.fontsize20 { font-size: 2.250rem; }
