// 針對X/XS/XR/XS Max 開啟keyboard時的調整
$ixKeyboard: 'only screen and (device-width: 375px) and (device-height: 812px)';
$xrKeyboard: 'only screen and (device-width: 414px) and (device-height: 896px)';

html {
  @include font-size-map($html-font-size);
  body {
    ion-app {
      &.ios, &.md, &.wp {
        font-family: Arial, Microsoft JhengHei;
      }
    }
  }
}
// header設定
ion-header {
  ion-navbar {
    height: 65px;
    padding: 4px 2rem !important;
    .toolbar-background { 
      border-width: 0 !important;
      background: map-get($colors, LGray);
    }
    .toolbar-title {
      @extend .fontsize2;
      color: map-get($colors, Black);
      img {
        width: 5.5rem;
      }
    }
    button {
      @extend .fontsize2;
      color: map-get($colors, Black);
      background: transparent;
      padding: 0;
      img {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
      }
    }
  }
  &.header-ios {
    ion-navbar {
      min-height: 85px !important;
      padding-top: 20px !important;
      ion-title {
        .toolbar-title {
          padding-top: 20px;
        }
      }
    }
  }
  &.header-md {
    &:after {
      display: none;
    }
  }
}
// fixedBtn設定
.fixedBtn {
  bottom: 0;
  width: 100%;
  line-height: 1rem;
  text-align: center;
  background-color: map-get($colors, Blue) !important;
  margin: 0;
  padding: 1rem 0;
  img { margin: 0 10px; }
  span {
    @extend .fontsize0;
    line-height: 1rem;
    color: map-get($colors, White);
  }
}
// modal設定
ion-modal {
  &.setPasswordModal, &.productDetailModal {
    ion-backdrop {
      display: none;
    }
    .modal-wrapper {
      background: rgba(0,0,0,.85);
      ion-header {
        ion-navbar {
          .toolbar-background {
            background: transparent;
          }
          .toolbar-content {
            text-align: right;
            .closeBtn {
              @extend .fontsize-2;
              color: map-get($colors, White);
              letter-spacing: 2px;
              border-bottom: 2px solid map-get($colors, White);
              padding: 0 0.3rem 0.5rem;
              &:before {
                @extend .fontsize6;
                content: '×';
                display: inline-block;
                vertical-align: sub;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
      ion-content {
        background: transparent !important;
        .scroll-content {
          padding: 0 10% 10%;
          .title {
            text-align: center;
            color: map-get($colors, White);
            margin: 1.5rem 0 3rem;
            h1 {
              @extend .fontsize12;
              font-weight: bold;
              margin: 0;
            }
            p {
              @extend .fontsize0;
              font-weight: bold;
              color: map-get($colors, White);
            }
          }
          .firstLogin {
            @extend .fontsize4;
            text-align: center;
            font-weight: bold;
            color: map-get($colors, White);
            margin: 0 0 1rem;
          }
          .product {
            &:not(:nth-last-of-type(1)) {
              margin-bottom: 3rem;
            }
            .productTitle, .data > div {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: map-get($colors, White);
              p {
                font-weight: bold;
                &:nth-of-type(1) {
                  width: 8rem;
                }
                &:nth-of-type(2) {
                  width: calc(100% - 8rem);
                }
              }
            }
            .productTitle {
              border-bottom: 2px solid map-get($colors, White);
              margin-bottom: 1rem;
              p {
                @extend .fontsize2;
                margin: 0;
                padding-bottom: 1rem;
              }
            }
            .data {
              > div {
                margin: 0 0 0.5rem;
                p {
                  @extend .fontsize0;
                  margin: 0;
                  &:nth-of-type(2) {
                    font-weight: initial;
                    letter-spacing: 1px;
                  }
                  span {
                    @extend .fontsize-2;
                    font-weight: initial;
                    margin-left: 0.3rem;
                  }
                }
              }
            }
          }
          .btnBlock {
            margin-top: 3rem;
            button {
              color: map-get($colors, White);
              border-bottom: 1px solid map-get($colors, White);
            }
          }
        }
      }
    }
  }
}
// 下拉式點選後的彈跳視窗
ion-alert {
  // .alert-head, .alert-message { display: none; }
  .alert-tappable {
    @extend .fontsize0;
    color: map-get($colors, Black);
    cursor: pointer;
    &[aria-checked=true] {
      .alert-radio-label {
        font-weight: bold;
      }
    }
  }
}
// 各頁單元標題
.title {
  text-align: center;
  h2 {
      @extend .fontsize8;
      font-weight: bold;
      color: map-get($colors, Black);
      margin: 1.5rem 0 10px;
  }
  p {
      @extend .fontsize0;
      font-weight: bold;
      color: map-get($colors, DGray);
      margin: 10px 0;
  }
}
// input的radio、checkbox設定
input {
  appearance: none;
  border: none;
  border-radius: 0;
  &[type="radio"], &[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../assets/imgs/ico_radio.svg) no-repeat center / contain;
    &+ label {
      @extend .fontsize0;
      display: inline-block;
      vertical-align: middle;
      color: map-get($colors, Black);
      cursor: pointer;
    }
    &:checked { background-image: url(../assets/imgs/ico_radio_active.svg); }
  }
  &[type="checkbox"] {
    background-image: url(../assets/imgs/ico_checkbox.svg);
    &:checked { background-image: url(../assets/imgs/ico_checkbox_active.svg); }
  }
}
// 輸入框樣式
.inputGroup {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: map-get($colors, LGray);
  padding: 1rem;
  &.select {
    padding: 1rem 1rem 1rem 0;
  }
  label {
    @extend .fontsize0;
    width: 7rem;
    text-align: center;
    line-height: 1.5rem;
    color: map-get($colors, Black);
    margin-right: 1rem;
    padding: 0.1rem 0;
  }
  input, p {
    @extend .fontsize0;
    width: 100%;
    line-height: 1.5rem;
    color: map-get($colors, DGray);
    border: none;
    background: transparent;
    margin: 0;
    &[type=text] {
      color: map-get($colors, DGray);
    }
  }
  ion-select {
    @extend .fontsize0;
    max-width: unset;
    width: 100%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    .select-placeholder {
      line-height: 1.5rem;
      color: map-get($colors, DGray);
    }
    .select-icon {
      height: 1.5rem;
      background: url(../assets/imgs/ico_dropdown.svg) no-repeat center / contain;
      .select-icon-inner { display: none; }
    }
    &.select-wp {
      .select-text {
        min-height: initial;
        line-height: initial;
      }
      .select-icon {
        width: 12px;
      }
    }
  }
  &:not(:nth-last-of-type(1)) { margin-bottom: 0.5rem; }
}
// 按鈕區塊樣式
.btnBlock {
  margin-top: 4.5rem;
  button, a {
      @extend .fontsize0;
      width: 100%;
      background: transparent;
      padding: 1rem;
  }
  button {
      color: map-get($colors, DGray);
      border-bottom: 1px solid map-get($colors, Black);
      img {
          margin-right: 1rem;
      }
  }
  a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: map-get($colors, Black);
      margin-top: 1rem;
      padding: 1rem;
  }
}
// 資料呈現
.information {
  .informationTitle {
    @extend .fontsize2;
    font-weight: bold;
    color: map-get($colors, Black);
    background: map-get($colors, LGray);
    margin: 1rem 0 0;
    padding: 1rem 2rem;
    span {
      width: calc(100% - 8.5rem);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .itemList {
    padding: 0 2.5rem;
    &:nth-last-of-type(1) {
      padding: 0 2.5rem 1rem;
    }
    .item {
      padding: 1rem 0;
      &:not(:nth-last-of-type(1)) {
          border-bottom: 1px solid map-get($colors, Gray);
      }
      > div {
        display: flex;
        justify-content: flex-end;
        align-items: start;
        &:not(:nth-last-of-type(1)) {
          margin-bottom: 0.7rem;
        }
        p {
          @extend .fontsize0;
          margin: 0;
          &:nth-of-type(2) {
            margin-left: 2rem;
          }
        }
      }
    }
  }
  &.number {
    .informationTitle {
      span {
        margin-left: 0.5rem;
      }
      &.note {
        position: relative;
        /*&:after {
          @extend .fontsize-2;
          content: '缺貨';
          position: absolute;
          right: 2rem;
          color: map-get($colors, White);
          border-radius: 15px;
          background: map-get($colors, Orange);
          padding: 3px 10px;
        }*/
      }
    }
    .itemList {
      .item {
        > div {
          p {
            &:nth-of-type(1) {
              width: 6rem;
              font-weight: bold;
            }
            &:nth-of-type(2) {
              width: calc(100% - 6rem);
            }
          }
        }
      }
    }
  }
  &.addressee {
    .itemList {
      .item {
        > div {
          p {
            &:nth-of-type(1) {
              width: 6rem;
              font-weight: bold;
            }
            &:nth-of-type(2) {
              width: calc(100% - 6rem);
            }
          }
        }
      }
    }
  }
  &.detail {
    .itemList {
      .item {
        > div {
          p {
            &:nth-of-type(1) {
              width: 10rem;
              span {
                @extend .fontsize-2;
                display: block;
                color: map-get($colors, DGray);
                &.isSold {
                  color: map-get($colors, Orange);
                }
              }
            }
            &.price {
              width: calc(100% - 10rem - 2rem);
              text-align: right;
              &:before {
                content: '$';
                margin-right: 0.1rem;
              }
            }
            &.amount {
              width: 2rem;
              text-align: right;
              &:before {
                content: 'x';
                margin-right: 0.3rem;
              }
            }
            &:nth-of-type(2) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

button:active, .activeFilter:active { filter: brightness(0.9); }

@media only screen and (max-width: 320px) {
  ion-content {
    .scroll-content {
      .title {
        margin: 0 auto 1rem !important;
      }
      .btnBlock {
        margin-top: 1.5rem !important;
      }
    }
  }
}
@media #{$ixKeyboard}, #{$xrKeyboard} {
  ion-header.header-ios {
    ion-navbar {
      min-height: 95px !important; //需實機測試再做調整
      padding-top: 30px !important;
      ion-title {
        .toolbar-title {
          padding-top: 0px;
        }
      }
      button {
        margin-top: 15px;
      }
    }
  }
  ion-content {
    > .fixed-content, &.content-ios > .scroll-content{
      margin-top: 95px;
    }
  }
}