page-message-modal {
    ion-content {
        &.content-ios .content { height: calc(100vh - 5rem - 20px - 65px - 3rem) !important; }
        .scroll-content {
            overflow: hidden;
            .message {
                padding: 1.5rem 2rem;
                h2 {
                    @extend .fontsize2;
                    display: inline-block;
                    vertical-align: baseline;
                    color: map-get($colors, Black);
                    margin: 0 0 0.5rem;
                }
                p {
                    @extend .fontsize0;
                    color: map-get($colors, DGray);
                    margin: 0 0 1.5rem;
                }
                .content {
                    height: calc(100vh - 5rem - 65px - 3rem);
                    overflow-y: auto;
                    border-top: 3px solid map-get($colors, Black);
                    background: map-get($colors, LGray);
                    padding: 1.5rem;
                    p {
                        @extend .fontsize0;
                        font-family: Arial, Microsoft JhengHei;
                        margin: 0;
                    }
                }
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content {
            &.content-ios .content { height: calc(100vh - 5rem - 30px - 65px - 3rem) !important; }
        }
    }
}