<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      訊息內容
    </ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <div class="message">
    <h2>{{message.title}}</h2>
    <p>{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
    <div class="content" text-wrap>
      <p [innerHTML]="message.message"></p>
    </div>
  </div>
</ion-content>
