page-address {
    ion-content {
        .scroll-content {
            margin-bottom: 3rem;
            .deliveryType {
                padding: 0 2rem;
                p {
                    @extend .fontsize2;
                    font-weight: bold;
                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        left: 100%;
                        width: calc(100% - 5rem - 10px);
                        height: 1px;
                        border-top: 1px solid map-get($colors, Gray);
                        margin-left: 10px; 
                    }
                }
                > div {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
            }
            .inputGroupList {
                font-size: 0;
                background: map-get($colors, LGray);
                margin: 1rem 0 2rem;
                padding: 2rem;
            }
            .inputGroup {
                background: map-get($colors, White);
                &.inline {
                    width: 49%;
                    display: inline-block;
                    vertical-align: middle;
                    &:nth-of-type(even) { margin-left: 2%; };
                }
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content{
            .fixed-content {
                .fixedBtn {
                    padding: 1rem 0 calc(1rem + 22px);
                }
            }
            .scroll-content {
                margin-bottom: calc(3rem + 22px);
            }
        }
    }
}
