<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/teco_logo.svg">
    </ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
      <h2>Order</h2>
      <p>下單訂貨</p>
  </div>
  <div class="deliveryType">
      <p>寄送方式</p>
      <div>
        <input type="radio" name="type" id="firm" (click)="setDeliveryType(1)" checked>
        <label for="firm">直送店址</label>
      </div>
      <div>
        <input type="radio" name="type" id="address" (click)="setDeliveryType(2)">
        <label for="address">指定送貨</label>
      </div>
  </div>
  <div class="inputGroupList">
    <div class="inputGroup" *ngIf="deliveryData.deliveryType == 1">
      <p>{{accountData.ADDRESS.trim()}}</p>
    </div>
    <div class="inputGroup inline" *ngIf="deliveryData.deliveryType == 2">
      <ion-select [(ngModel)]="deliveryData.city" (ionChange)="changeCity()" placeholder="縣市" title="請選擇縣市" okText="確認" cancelText="取消">
        <ion-option *ngFor="let city of cities" [value]="city">{{city}}</ion-option>
      </ion-select>
    </div>
    <div class="inputGroup inline" *ngIf="deliveryData.deliveryType == 2">
      <ion-select [(ngModel)]="deliveryData.district" placeholder="地區"  title="請選擇地區" okText="確認" cancelText="取消">
        <ion-option *ngFor="let district of districts[deliveryData.city]" [value]="district">{{district}}</ion-option>
      </ion-select>
    </div>
    <div class="inputGroup" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.address" placeholder="請輸入地址">
    </div>
    <div class="inputGroup" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.receiver" placeholder="請輸入收件人">
    </div>
    <div class="inputGroup" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.phone" placeholder="請輸入市話">
    </div>
    <div class="inputGroup" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.cellPhone" placeholder="請輸入手機">
    </div>
    <div class="inputGroup">
      <ion-select [(ngModel)]="noteData.noteOption" placeholder="交貨類型" okText="確認" cancelText="取消">
        <ion-option *ngFor="let option of noteOptions" [value]="option">{{option}}</ion-option>
      </ion-select>
    </div>
    <div class="inputGroup">
      <input type="text" [(ngModel)]="noteData.noteText" placeholder="請輸入備註">
    </div>
    <!-- <p *ngIf="deliveryData.deliveryType == 1">新北市三重區重新路五段424號</p>
    <ion-list class="data2 selectBox" *ngIf="deliveryData.deliveryType == 2">
      <ion-item>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="deliveryData.city" (ionChange)="changeCity()" placeholder="縣市" okText="確認" cancelText="取消">
          <ion-option *ngFor="let city of cities" [value]="city">{{city}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="data2 selectBox" *ngIf="deliveryData.deliveryType == 2">
      <ion-item>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="deliveryData.district" placeholder="地區" okText="確認" cancelText="取消">
          <ion-option *ngFor="let district of districts[deliveryData.city]" [value]="district">{{district}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="data1" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.address" placeholder="請輸入地址">
    </div>
    <div class="data1" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.receiver" placeholder="請輸入收件人">
    </div>
    <div class="data1" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.phone" placeholder="請輸入市話">
    </div>
    <div class="data1" *ngIf="deliveryData.deliveryType == 2">
      <input type="text" [(ngModel)]="deliveryData.cellPhone" placeholder="請輸入手機">
    </div>
    <ion-list class="data1 selectBox">
      <ion-item>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="noteData.noteOption" placeholder="交貨指示碼" okText="確認" cancelText="取消">
          <ion-option *ngFor="let option of noteOptions" [value]="option">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="data1">
      <input type="text" [(ngModel)]="noteData.noteText" placeholder="請輸入備註">
    </div> -->
  </div>
  <button ion-fixed class="fixedBtn" (click)="toCategoryPage()">
    <img src="assets/imgs/ico_arrow.svg">
    <span>下一步</span>
  </button>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar (click)="toCategoryPage()">
      
  </ion-toolbar>
</ion-footer> -->
