page-setting {
    ion-content {
        .scroll-content {
            .account {
                position: relative;
                min-height: 24rem;
                background: map-get($colors, LGray);
                margin-top: 2rem;
                padding: 2rem 2rem 4.5rem;
                h3 {
                    @extend .fontsize2;
                    color: map-get($colors, Black);
                    border-bottom: 3px solid map-get($colors, White);
                    margin: 0 0 1.5rem;
                    padding-bottom: 1.5rem;
                }
                p {
                    @extend .fontsize0;
                    color: map-get($colors, Black);
                    margin: 0 0 1.5rem;
                    img {
                        width: 1.5rem;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 1rem;
                    }
                }
                .btnBlock {
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    right: 0;
                    padding: 0 2rem;
                    button {
                        @extend .fontsize0;
                        width: 100%;
                        color: map-get($colors, DGray);
                        border-bottom: 1px solid map-get($colors, Black);
                        padding: 0 0 12px;
                        img {
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .version {
                @extend .fontsize-2;
                text-align: center;
                color: map-get($colors, Black);
            }
        }
    }
    @media only screen and (max-width: 320px) {
        ion-content {
            .scroll-content {
                .account {
                    min-height: 18rem;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
