<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/teco_logo.svg">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="title">
    <h2>Account</h2>
    <p>我的帳號</p>
  </div>
  <div class="account">
    <h3>{{accountData.NAME}}</h3>
    <!--<p><img src="assets/imgs/ico_user_circle.svg">陳守德</p>-->
    <p><img src="assets/imgs/ico_address_circle.svg">{{accountData.ADDRESS.trim()}}</p>
    <div class="btnBlock">
      <button (click)="openSetPasswordModal()"><img src="assets/imgs/ico_setting.svg">設定密碼</button>
    </div>
  </div>
  <p class="version">{{appVersion}}</p>
</ion-content>
