<!-- <ion-header>

  <ion-navbar>
    <ion-title>新增特配單</ion-title>
  </ion-navbar>
  <button ion-button (click)="back()" icon-left>
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-header>


<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar>
    <!-- <ion-title>新增特配</ion-title>
    <i class="icon-times" (click)="back()"></i> -->
    <button class="closeBtn" (click)="back()">CLOSE</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1>Specification</h1>
    <p>產品規格</p>
  </div>
  <ng-container *ngIf="product.TYPE !== '6' || !product.PRODUCTCODE.startsWith('MS')">
    <div class="product">
      <div class="productTitle">
        <p>室外機型號</p>
        <p>{{product.PRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.PRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>
        <div>
          <p>連接配管<span>(分)</span></p>
          <p>{{product.LIQUIDPIPINGSIZE}}, {{product.AIRPIPINGSIZE}}</p>
        </div>
        <div>
          <p>冷暖氣能力<span>(kw)</span></p>
          <p>{{product.POWER}}</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="productTitle">
        <p>室內機型號</p>
        <p>{{product.RELATEDPRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.RELATEDPRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="product.TYPE === '6' && product.PRODUCTCODE.startsWith('MS')">
    <div class="product">
      <div class="productTitle">
        <p>室內機型號</p>
        <p>{{product.PRODUCTCODE}}</p>
      </div>
      <div class="data">
        <div>
          <p>外型尺寸<span>(mm)</span></p>
          <p>{{product.PRODUCTSIZE}}<span>(高x寬x深)</span></p>
        </div>
      </div>
    </div>
  </ng-container>




  <!-- <div class="product">
    <div class="model">
      <p>室外機型號</p>
      <div>
        <p>{{product.PRODUCTCODE}}</p>
      </div>
    </div>
    <div class="data">
      <p>外型尺寸<span>(mm)</span></p>
      <div>
        <p>{{product.PRODUCTSIZE}}</p>
      </div>
    </div>
    <div class="data">
      <p>連接配管<span>(分)</span></p>
      <div>
        <p>{{product.LIQUIDPIPINGSIZE}}, {{product.AIRPIPINGSIZE}}</p>
      </div>
    </div>
    <div class="data">
      <p>冷暖氣能力<span>(kw)</span></p>
      <div>
        <p>{{product.POWER}}</p>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="model">
      <p>室內機型號</p>
      <div>
        <p>{{product.RELATEDPRODUCTCODE}}</p>
      </div>
    </div>
    <div class="data">
      <p>外型尺寸<span>(mm)</span></p>
      <div>
        <p>{{product.RELATEDPRODUCTSIZE}}</p>
      </div>
    </div>
  </div> -->
</ion-content>