<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()">
        <img src="assets/imgs/ico_back.svg">
        <span>返回</span>
      </button>
    </ion-buttons>
    <ion-title>
      購物車
    </ion-title>
    <ion-buttons right>
      <button (click)="toHome()">
        <img src="assets/imgs/ico_home.svg">
        <span>首頁</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<section class="date">
    <div>
      <p>送貨日期</p>
      <div>
        <div>{{todayYear}}</div>
        <div>{{todayMonth}}</div>
      </div>
      <div *ngFor="let option of deliveryDayOptions" [ngClass]="{true: 'active'}[option.date == selectedDate]" (click)="selectDate(option)">
        <div>{{option.weekDay}}</div>
        <div>{{option.day}}</div>
      </div>
    </div>
  </section>
  
  <section class="address">
    <div>
      <div>
        <p>寄送方式</p>
        <p *ngIf="deliveryData.deliveryType == 1">直送店址</p>
        <p *ngIf="deliveryData.deliveryType == 2">指定送貨</p>
      </div>
      <div>
        <p>地址</p>
        <p>{{deliveryData.city}} {{deliveryData.district}} {{deliveryData.address}}</p>
      </div>
      <div>
        <p>收件人</p>
        <p>{{deliveryData.receiver}}</p>
      </div>
      <div>
        <p>市話</p>
        <p>{{deliveryData.phone}}</p>
      </div>
      <div>
        <p>手機</p>
        <p>{{deliveryData.cellPhone}}</p>
      </div>
      <div>
        <p>外部交貨指示碼</p>
        <p>{{noteData.noteOption}}</p>
      </div>
      <div>
        <p>備註</p>
        <p>{{noteData.noteText}}</p>
      </div>
    </div>
  </section>

  <section class="detail">
    <div>
      <p>訂單資訊</p>
      <ng-container *ngFor="let item of order">
        <div class="itemList" *ngIf="item.isSelected">
          <div>
            <div>商品 {{item.PRODUCTCODE}}</div>
            <div>${{ item.PRODUCTPRICE[item.selectedPriceType].PRICE }}</div>
            <div> x {{item.amount}}</div>
          </div>
          <div *ngIf="item.RELATEDPRODUCTCODE">
            <div>。關聯性商品 {{item.RELATEDPRODUCTCODE}}</div>
            <div>${{item.RELATEDPRODUCTPRICE[item.selectedPriceType].PRICE}}</div>
            <div>x {{item.relatedItemAmount}}</div>
          </div>
          <ng-container *ngFor="let present of item.presentItems">
            <div *ngIf="present.model && item.selectedPriceType == 0">
              <div>。{{present.name}} {{present.model}}</div>
              <div> </div>
              <div> x {{present.amount}}</div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="totalPrice">
        <div>總金額</div>
        <div>${{totalPrice}}</div>
      </div>
    </div>
    <button ion-button (click)="submit()">確定下單</button>
  </section>-->

  <div class="title">
    <h2>Information</h2>
    <p>訂單資訊</p>
  </div>
  <div class="deliveryDate">
    <p class="subTitle">選擇送貨日期</p>
    <div class="date">
      <div class="YM">
        <p>{{selectedYear}}</p>
        <p>{{selectedMonth}}</p>
      </div>
      <div class="WDBox">
        <ng-container *ngFor="let option of deliveryDayOptions">
          <div class="WD" *ngIf="option.type == '0'" [ngClass]="{true: 'active'}[option.date == selectedDate]" (click)="selectDate(option)">
            <p>{{option.weekDay}}</p>
            <p>{{option.day}}</p>
          </div>
          <div class="WD holiday" *ngIf="option.type == '2'">
            <p>{{option.weekDay}}</p>
            <p>{{option.day}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- 靜態畫面 start -->
  <div class="information addressee">
    <p class="informationTitle">收件人資訊</p>
    <div class="itemList">
      <div class="item">
        <div>
          <p>寄送方式</p>
          <p *ngIf="deliveryData.deliveryType == 1">直送店址</p>
          <p *ngIf="deliveryData.deliveryType == 2">指定送貨</p>
        </div>
        <div>
          <p>地址</p>
          <p *ngIf="deliveryData.deliveryType == 1">{{accountData.ADDRESS}}</p>
          <p *ngIf="deliveryData.deliveryType == 2">{{deliveryData.city}} {{deliveryData.district}} {{deliveryData.address}}</p>
        </div>
        <div *ngIf="deliveryData.deliveryType == 2">
          <p>收件人</p>
          <p>{{deliveryData.receiver}}</p>
        </div>
        <div *ngIf="deliveryData.deliveryType == 2">
          <p>市話</p>
          <p>{{deliveryData.phone}}</p>
        </div>
        <div *ngIf="deliveryData.deliveryType == 2">
          <p>手機</p>
          <p>{{deliveryData.cellPhone}}</p>
        </div>
        <div>
          <p>交貨類型</p>
          <p>{{noteData.noteOption}}</p>
        </div>
        <div>
          <p>備註</p>
          <p>{{noteData.noteText}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="information detail">
    <p class="informationTitle">訂單資訊</p>
    <div class="itemList" *ngFor="let item of orderItems">
      <div class="item" *ngIf="item.isSelected">
        <!-- 主商品 -->
        <div>
          <p>{{item.PRODUCTCODE}}</p>
          <p class="price">{{item.PRODUCTPRICE[item.selectedPriceType].PRICE}}</p>
          <p class="amount">{{item.amount}}</p>
        </div>
        <!-- 關聯性商品 -->
        <div *ngIf="item.RELATEDPRODUCTCODE.length > 5">
          <p>{{item.RELATEDPRODUCTCODE}}</p>
          <p class="price">{{item.RELATEDPRODUCTPRICE[item.selectedPriceType].PRICE}}</p>
          <p class="amount">{{item.relatedItemAmount}}</p>
        </div>
        <!-- 贈品 -->
        <ng-container *ngFor="let present of item.presentItems">
          <div *ngIf="present.model && item.selectedPriceType == 0">
            <p>{{present.name}}</p>
            <p class="price"></p>
            <p class="amount">{{present.amount}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- 靜態畫面 end -->

  <!-- 下方為之前Billy寫好的，但我不太會套，再麻煩Billy以上方的結構將資料帶進去，感謝！ -->
  <!-- <div class="information addressee">
    <p>收件人資訊</p>
    <div>
      <div>
        <p>寄送方式</p>
        <p *ngIf="deliveryData.deliveryType == 1">直送店址</p>
        <p *ngIf="deliveryData.deliveryType == 2">指定送貨</p>
      </div>
      <div>
        <p>地址</p>
        <p>{{deliveryData.city}} {{deliveryData.district}} {{deliveryData.address}}</p>
      </div>
      <div>
        <p>收件人</p>
        <p>{{deliveryData.receiver}}</p>
      </div>
      <div>
        <p>市話</p>
        <p>{{deliveryData.phone}}</p>
      </div>
      <div>
        <p>手機</p>
        <p>{{deliveryData.cellPhone}}</p>
      </div>
      <div>
        <p>外部交貨指示碼</p>
        <p>{{noteData.noteOption}}</p>
      </div>
      <div>
        <p>備註</p>
        <p>{{noteData.noteText}}</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="information detail">
    <p>訂單資訊</p>
      <ng-container *ngFor="let item of order">
        <div class="itemList" *ngIf="item.isSelected">
          <div>
            <p>{{item.PRODUCTCODE}}</p>
            <p>{{item.amount}}</p>
          </div>
          <div *ngIf="item.RELATEDPRODUCTCODE">
            <p>{{item.RELATEDPRODUCTCODE}}</p>
            <p>{{item.relatedItemAmount}}</p>
          </div>
          <ng-container *ngFor="let present of item.presentItems">
            <div *ngIf="present.model && item.selectedPriceType == 0">
              <p>{{present.name}}</p>
              <p>{{present.amount}}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="totalPrice">
        <div>金額總計</div>
        <div>$ {{totalPrice}}</div>
      </div>
  </div> -->

<!-- 
  <div class="address">
    <div class="subtitle">收件人資訊</div>
    <div>
      <div>
        <p>寄送方式</p>
        <p *ngIf="deliveryData.deliveryType == 1">直送店址</p>
        <p *ngIf="deliveryData.deliveryType == 2">指定送貨</p>
      </div>
      <div>
        <p>地址</p>
        <p>{{deliveryData.city}} {{deliveryData.district}} {{deliveryData.address}}</p>
      </div>
      <div>
        <p>收件人</p>
        <p>{{deliveryData.receiver}}</p>
      </div>
      <div>
        <p>市話</p>
        <p>{{deliveryData.phone}}</p>
      </div>
      <div>
        <p>手機</p>
        <p>{{deliveryData.cellPhone}}</p>
      </div>
      <div>
        <p>外部交貨指示碼</p>
        <p>{{noteData.noteOption}}</p>
      </div>
      <div>
        <p>備註</p>
        <p>{{noteData.noteText}}</p>
      </div>
    </div>
  </div>

  <div class="detail">
    <div class="subtitle">訂單資訊</div>
    <ng-container *ngFor="let item of order">
      <div class="itemList" *ngIf="item.isSelected">
        <div>
          <div>{{item.PRODUCTCODE}}</div>
          <div>$ {{item.PRODUCTPRICE[item.selectedPriceType].PRICE}} x {{item.amount}}</div>
        </div>
        <div *ngIf="item.RELATEDPRODUCTCODE">
          <div>{{item.RELATEDPRODUCTCODE}}</div>
          <div>$ {{item.RELATEDPRODUCTPRICE[item.selectedPriceType].PRICE}} x {{item.relatedItemAmount}}</div>
        </div>
        <ng-container *ngFor="let present of item.presentItems">
          <div *ngIf="present.model && item.selectedPriceType == 0">
            <div>{{present.name}}</div>
            <div> x {{present.amount}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div class="totalPrice">
      <div>金額總計</div>
      <div>$ {{totalPrice}}</div>
    </div>
  </div> -->

  <button ion-fixed class="fixedBtn" (click)="submit()">
    <img src="assets/imgs/ico_check_white.svg">
    <span>確定下單</span>
  </button>
</ion-content>