page-confirm {
    ion-content {
        .scroll-content {
            margin-bottom: 3rem;
            .deliveryDate {
                padding: 0 2rem;
                .subTitle {
                    @extend .fontsize2;
                    position: relative;
                    font-weight: bold;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: calc(7rem + 10px);
                        right: 0;
                        height: 1px;
                        background: map-get($colors, Gray);
                    }
                }
                .date {
                    display: flex;
                    justify-content: flex-end;
                    align-items: start;
                    > div {
                        &.YM {
                            width: 3rem;
                            text-align: center;
                            margin-right: 0.3rem;
                            p {
                                font-weight: bold;
                                margin: 0;
                                &:nth-of-type(1) {
                                    @extend .fontsize2;
                                    line-height: 1.3rem;
                                    color: map-get($colors, Gray);
                                }
                                &:nth-of-type(2) {
                                    @extend .fontsize20;
                                    line-height: 2rem;
                                    color: map-get($colors, DGray);
                                }
                            }
                        }
                        &.WDBox {
                            display: flex;
                            width: calc(100% - 3rem - 0.3rem);
                            overflow-x: scroll;
                            padding: 0 0 1rem;
                            .WD {           
                                min-width: calc(100%/7);
                                p {
                                    text-align: center;
                                    margin: 0;
                                    &:nth-of-type(1) {
                                        @extend .fontsize-2;
                                        color: map-get($colors, Black);
                                        margin-bottom: 0.5rem;
                                    }
                                    &:nth-of-type(2) {
                                        @extend .fontsize2;
                                        font-weight: bold;
                                        line-height: 1.9rem;
                                        color: map-get($colors, DGray);
                                    }
                                }
                                &.active {
                                    p {
                                        &:nth-of-type(2) {
                                            position: relative;
                                            color: map-get($colors, White);
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                top: 0;
                                                left: calc((100% - 1.8rem)/2);
                                                width: 1.8rem;
                                                height: 1.8rem;
                                                z-index: -1;
                                                border-radius: 50%;
                                                background: map-get($colors, DBlue);
                                            }
                                        }
                                    }
                                }
                                &.disabled p { color: map-get($colors, Gray); }
                                &.holiday {
                                    p { color: map-get($colors, danger); }
                                    &:active  p:after { background: map-get($colors, danger); }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media #{$ixKeyboard}, #{$xrKeyboard} {
        ion-content{
            .fixed-content {
                .fixedBtn {
                    padding: 1rem 0 calc(1rem + 22px);
                }
            }
            .scroll-content {
                margin-bottom: calc(3rem + 22px);
            }
        }
    }
}
